*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color:#f0eae2ff;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 60%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    display: flex;
    text-indent: 20px;
}

a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #6C6C6C;
}

.btn{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 15px;
}

.sign_in{
    background-color: #f0eae2ff;
    color: #6C6C6C;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.free{
    background-color: #133416ff ;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
    height: 50px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
}

.hero{
    width: 60%;
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.highlight-text{
    color:#f6b200ff ;
}

.left-text-section{
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
}

.heading{
    color: black;
    font-weight: bold;
    font-size: 60px;
}

.sub-heading{
    color: #6C6C6C;
    font-size: 16px;
}

.rating-line{
    color: #6C6C6C;
    padding-top: 10px;
    font-size: 17px;
}