*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --indigo-dye: #233d53ff;
    --alabaster: #f0eae2ff;
    --white: #ffffffff;
    --pakistan-green: #133416ff;
    --selective-yellow: #f6b200ff;
    --antiflash-white: #f2f3f3ff;
}

.wrapper{
    background-color:#f0eae2ff;
    height: 100vh;
    width: 100vw;
}

.container{
    max-width: 60%;
    min-height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    display: flex;
    text-indent: 20px;
    width: 120%;
}

a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #6C6C6C;
}

.btn{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 15px;
}

.sign_in{
    background-color: #f0eae2ff;
    color: #6C6C6C;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    /* width: 140px; */
}

.free{
    background-color: #133416ff ;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
    height: 50px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
}

.hero{
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.highlight-text{
    color:#f6b200ff ;
}

.left-text-section{
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
}

.heading{
    color: black;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
}

.sub-heading{
    color: #6C6C6C;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.rating-line{
    color: #6C6C6C;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.trust-line{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.lines{
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.companies{
    max-width: 60%;
    max-height: 10%;
    margin:auto;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.burger-icon{
    display: none;
}

@media (max-width:1024px) {
    .wrapper{
        max-width: 100vw;
        max-height: 100vh;
    }

    .hero{
        max-height: max-content;
    }

    .hero-img{
        display: none;
    }

    .left-text-section{
        width: 1024px;
    }

    .navbar{
        display: none;
    }

    .trust-line{
        margin-top: 10px;
    }

    .lines{
        text-align: center;
    }

    .btn{
        display: none;
    }

    .companies{
        max-height: max-content;
    }

    .burger-icon{
        display: block;
    }

}
